<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Audio Analyzer</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>

  <body>
    <h1> Audio Analyzer </h1>
    <div class="container" >
    <form action="{{ url_for('analysis')}}" method=POST enctype="multipart/form-data">
        <input type="file" name="inp" id="inp" required="required" />
        <button type="submit">Analyse</button>
    </form>

    {% autoescape false %}
    {{ analysis_text }}
    {% endautoescape %}
  </div>
  </body>
  <script>
    document.getElementById("inp").accept = "audio/wav";
  </script>
</html>